<!doctype html>
<html>
  <head>
    <title>Burnie Control</title>
    <link rel="stylesheet" href="/burnie.css" />
  </head>
  <body>
    <h1>Burnie Control</h1>

    <p>Web control for the <a href="http://reddit.com/r/Heat">/r/Heat</a> bot, Burnie_Bot.</p>

    <h2>Task Commands</h2>

    <p>Each of these tasks run on a schedule, but if you need to invoke one for any reason, you can do that here. Note that each task may take a while to run &mdash; wait for them to finish, and don't run them multiple times!</p>

    <ul>
      <li><a href="/schedule">Update Sidebar Schedule</a></li>
      <li><a href="/standings">Update Sidebar Standings</a></li>
      <li><a href="/gamethread">Create Game Thread</a> (Warning: may create multiple game threads if one is already scheduled for today)</li>
    </ul>
  </body>
</html>
